<!-- header -->
<header id="header">
	<h1><%= link_to client_root_path do %><%= image_tag 'client/logo.gif', :size => "120x40", :alt => '2PM Premier Media Pertners' %><% end %></h1>
	<%= render :partial => 'layouts/client/account' %>
</header>
<!-- /header -->