<h1>報酬額編集</h1>
<canvas id="canvas"><!-- 報酬額編集 --></canvas>
<div class="actions one head">
	<span class="back"><%= link_to "戻る", admin_client_promotion_path(@client, @promotion, :anchor => :tabReward) %></span>
</div>

<%= render 'form' %>
<div class="actions one">
	<span class="back"><%= link_to "戻る", admin_client_promotion_path(@client, @promotion, :anchor => :tabReward) %></span>
</div>
