<div id="container">
	<div id="wrapper">
		<div id="login_menu">
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li id="toAdmin"><a href ="/admin/login"><img src="images/common/YajiIcon.gif" width="11" height="12">ADMIN</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li id="toClient"><a href ="/client/login"><img src="images/common/YajiIcon.gif" width="11" height="12">CLIENT</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li id="toPartner"><a href ="/partner/login"><img src="images/common/YajiIcon.gif" width="11" height="12">PARTNER</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#"><span>2PM</span></a></li>
				<li><a href="#"><span>Premiere</span></a></li>
				<li><a href="#"><span>Media</span></a></li>
				<li><a href="#"><span>Partners</span></a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
			<ul class="tit line">
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
		</div>
	</div>
</div>
