<h1>管理者新規登録</h1>
<canvas id="canvas"><!-- 管理者新規登録 --></canvas>
<div class="actions one head">
	<span class="back"><%= link_to "戻る", polymorphic_path([:admin, :admins]) %></span>
</div>
<%= render 'form' %>
<div class="actions one">
	<span class="back"><%= link_to "戻る", polymorphic_path([:admin, :admins]) %></span>
</div>
