<h1>サイト新規登録</h1>
<canvas id="canvas"><!-- サイト新規登録 --></canvas>
<div class="actions one head">
	<span class="back"><%= link_to '戻る', partner_sites_path %></span>
</div>
<%= render 'form' %>
<div class="actions one">
	<span class="back"><%= link_to '戻る', partner_sites_path %></span>
</div>
