<h1>アカウント情報変更</h1>
<canvas id="canvas"><!-- アカウント情報変更はこちら --></canvas>
<div class="actions head one">
	<span class="back"><%= link_to "戻る", admin_account_path %></span>
</div>
<%= render 'form' %>
<div class="actions fot one">
	<span class="back"><%= link_to "戻る", admin_account_path %></span>
</div>
